---
AWSTemplateFormatVersion: 2010-09-09
Description: ECS-Cluster Requirements

Parameters:
  ProgramTag:
    Type: String
  ServiceTag:
    Type: String

Resources:
  # ECR repo
  ContainerRegistry:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryName: !Join
        - "-"
        - - !Ref ProgramTag
          - !Ref ServiceTag
          - "repository"

      # TODO: add ExecRole, TaskRole, LogGroup, etc.
